<div
  class="p-6 max-w-full max-h-full rounded-xl border grow border-gray-100 flex flex-col shadow-lg bg-white"
>
  <nav>
    <h1 class="text-2xl font-bold mb-5 text-gray-800">{{ title }}</h1>
    @if (!resume) {
    <nav
      class="flex justify-center items-center mt-6 space-x-3"
      aria-label="Pagination"
    >
      <button
        (click)="prevPage()"
        [disabled]="query._page! <= 1"
        class="p-2 text-gray-700 rounded-full hover:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed transition-colors"
        aria-label="Page précédente"
      >
        <lucide-angular name="chevron-left" size="20"></lucide-angular>
      </button>

      <span class="text-sm font-semibold text-gray-700">
        Page {{ query._page }}
      </span>

      <button
        (click)="nextPage()"
        [disabled]="isLastPage()"
        class="p-2 text-gray-700 rounded-full hover:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed transition-colors"
        aria-label="Page suivante"
      >
        <lucide-angular name="chevron-right" size="20"></lucide-angular>
      </button>
    </nav>
    }
  </nav>

  <div class="lg:px-5 py-8 grow overflow-x-scroll">
    <table class="w-full hidden lg:table divide-y divide-gray-200 table-fixed">
      <colgroup>
        <col class="w-1/3" />
        <col class="w-1/8" />
        <col class="w-1/12" />
        <col class="w-1/12" />
        <col class="w-1/9" />
        @if (!resume) {
        <col class="w-1/12" />
        <col class="w-1/12" />
        }
      </colgroup>
      <thead class="text-xl top-0">
        <tr>
          @for (header of columns; track header.key) {
          <th
            (click)="updateQuery(header.key)"
            class="px-6 py-3 text-left text-gray-500 hover:bg-gray-100 cursor-pointer tracking-wider"
          >
            <h2 class="flex items-center justify-between gap-1">
              {{ header.label }}
              <span
                class="flex items-center"
                [class.invisible]="query._sort !== header.key"
              >
                @switch (query._order) { @case ('asc') {
                <lucide-icon name="chevron-up" class="w-5 h-5"></lucide-icon>
                } @case ('desc') {
                <lucide-icon name="chevron-down" class="w-5 h-5"></lucide-icon>
                } }
              </span>
            </h2>
          </th>
          }
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-100 text-2xl">
        @for (tool of tools; track tool.id) {
        <tr>
          <td class="py-8 pl-5 whitespace-nowrap">
            <div class="flex items-center gap-5">
              <img
                src="{{ tool.icon_url }}"
                class="h-5 w-5 rounded"
                alt="Icone de {{ tool.name }}"
              />
              <span>{{ tool.name }}</span>
            </div>
          </td>

          @if(!resume) {
          <td class="px-6 py-8 whitespace-nowrap">
            {{ tool.category || "N/A" }}
          </td>
          }

          <td class="px-6 py-8 whitespace-nowrap">
            {{ tool.owner_department || "N/A" }}
          </td>
          <td class="px-6 py-8 whitespace-nowrap">
            {{ tool.active_users_count || "N/A" }}
          </td>

          <td class="px-6 py-8 whitespace-nowrap">
            €{{ tool.monthly_cost || 0 }}
          </td>

          <td class="px-6 py-8 whitespace-nowrap">
            <app-status-badge status="{{ tool.status }}"></app-status-badge>
          </td>

          @if(!resume) {
          <td class="px-6 py-8 whitespace-nowrap">
            @if (tool.updated_at) {
            {{ tool.updated_at | date : "dd MMM yyyy à HH:mm" }}
            } @else{ N/A }
          </td>
          }
        </tr>
        }
      </tbody>
    </table>

    <div class="lg:hidden w-full p-4">
      <div class="mb-4 flex gap-1 items-center justify-between">
        <label for="sort-select" class="text-xs font-medium text-gray-700"
          >Trier par :</label
        >

        <select
          id="sort-select"
          (change)="handleSortChange($event)"
          [ngModel]="query._sort"
          class="border border-gray-300 rounded-md py-1 px-2 text-sm focus:ring-purple-500 focus:border-purple-500"
        >
          @for (header of columns; track header.key) {
          <option [value]="header.key">{{ header.label }}</option>
          }
        </select>

        @if(query._sort) {
          
        }
        <button
          (click)="updateQuery(query._sort!)"
          [class.invisible]="!query._sort"
          class="p-1 rounded-full text-gray-700 hover:bg-gray-100 transition-colors"
          aria-label="Changer l'ordre de tri"
        >
          @switch (query._order) { @case ('asc') {
          <lucide-icon name="arrow-up" class="w-5 h-5"></lucide-icon>
          } @case ('desc') {
          <lucide-icon name="arrow-down" class="w-5 h-5"></lucide-icon>
          } @default {
          <lucide-icon name="arrow-down-up" class="w-5 h-5"></lucide-icon>
          } }
        </button>
      </div>

      <div class="space-y-4 flex flex-col gap-1">
        @for (tool of tools; track tool.id) {
        <app-tool-card [tool]="tool" [resume]="resume" />
        }
      </div>
    </div>
  </div>
</div>
