<section [ngClass]="class">
  <div class="flex flex-row mb-10 w-full justify-between items-center">
    <h3 class="text-lg ">{{ title }}</h3>
    <span [ngClass]="color" class="rounded-2xl p-2"
      ><lucide-icon [name]="icon" class="h-8 w-8"></lucide-icon
    ></span>
  </div>
  <div class="flex items-baseline">
    <p class="text-xl font-bold text-gray-800 mr-2">{{ value }}{{ unit }}</p>
    @if (target) {
    <p class="text-xl font-normal text-gray-600">/{{ target }}{{ unit }}k</p>
    }
  </div>
  <div class="my-6 px-2 h-6 w-fit rounded-full" [ngClass]="color">
    {{ trend }}
  </div>
</section>
